*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(-100deg,  rgba(94, 38, 127, 0.91),#06142E);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:cover;
    width: 100vw;
    height: 100vh;

}

.list{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40rem;
    min-height: 25rem;
    border-radius: 25px;
    border: 1px solid #F5D7DB;
    background: #F5D7DB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.search{
    width: 30rem;
    height: 3rem;
    display: flex;
    border-radius: 50px;
    background: #FFF;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;

}

.todoTitle {
    display: flex;
    align-items: center;
    margin-right: 22rem;
}

h3{
    color: #451952;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    order: -1;
    justify-content: space-between;
    padding: 1.5rem;
}

.listImage{
    width: 1.7rem;
    height: 1.8rem;
}

.button{
    background-color: rgb(189, 131, 184);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    border-color: rgb(189, 131, 184);
}

.input{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    border: none;
    height: 3rem;
    width: 100%;
    border-radius: 50px;
    
}

.input:focus{
    outline: none;
    border-color: transparent;
}

.addplus{
    width: 1rem;
    height: 1.2em;
    margin-top: 0.2rem;
    
}

.task{
    display: flex;
    justify-content: space-between;
    width: 300px;
    
}

ul li{
    list-style: none;
    font-size: 1.1rem;
    padding: 0.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    display: flex;
    margin-left: 0rem;
    margin-top: 1rem;
    align-items: start;
    width: 500px;
 
    
}

ul li::before{
    content: "";
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-image: url(/check_empty.png);
    background-size: cover;
    background-position: center;
    
    
}

ul li.checked{
    color: #6c45bcf9;
    text-decoration: line-through;
}

ul li.checked::before{
    color: #6c45bcf9;
    background-image: url(images/check_full.png);
}

ul li span{
    display: flex;
    right: 23rem;
    margin-top: -0.5rem;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #06142E;
    line-height: 50px;
    margin-left: 25rem;

}


