*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(-100deg,  rgba(94, 38, 127, 0.91),#06142E);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:cover;
    width: 100vw;
    height: 100vh;

}

.list{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40rem;
    min-height: 25rem;
    border-radius: 25px;
    border: 1px solid #F5D7DB;
    background: #F5D7DB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}

.search{
    width: 30rem;
    height: 3rem;
    display: flex;
    border-radius: 50px;
    background: #FFF;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;

}

.todoTitle {
    display: flex;
    align-items: center;
    margin-right: 22rem;
}

h3{
    color: #451952;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    order: -1;
    justify-content: space-between;
    padding: 1.5rem;
}

.listImage{
    width: 1.7rem;
    height: 1.8rem;
}

.button{
    background-color: rgb(189, 131, 184);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    border-color: rgb(189, 131, 184);
    cursor: pointer;
}

.input{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    border: none;
    height: 3rem;
    width: 100%;
    border-radius: 50px;
    
}

.input:focus{
    outline: none;
    border-color: transparent;
}

.addplus{
    width: 1rem;
    height: 1.2em;
    margin-top: 0.2rem;
    
}

.task{
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    
    
}

ul li{
    list-style: none;
    font-size: 1.1rem;
    padding: 0.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    display: flex;
    margin-left: 0rem;
    margin-top: 1rem;
    align-items: start;
    width: 500px;
 
    
}

.color-button {
    background-color: #F5D7DB; /* Cor de fundo padrão */
    color: #ffffff; /* Cor do texto */
    border-color: #7d5cc0;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 1rem; /* Espaçamento à direita para separar do conteúdo */
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    display: flex;
    margin-top: -0.3rem;
}

.color-button.clicked {
    background-color:#7d5cc0 ; /* Cor de fundo quando clicado */
}


.remove-tasks {
    background-color: #ff634700; /* Cor de fundo do botão */
    color: #5522BB5B; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 50%; /* Borda arredondada para um estilo mais amigável */
    padding: 0.5rem; /* Espaçamento interno para melhor aparência */
    cursor: pointer; /* Indica que é clicável */
    margin-left: auto;
    
}

footer {
    
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:  rgb(198, 163, 195);;
    color:  #451952;
    
}

@media only screen and (max-width: 600px) {
    /* Estilos específicos para dispositivos com largura máxima de 600px */
    .list {
        width: 400px;
        height: 500px;
        max-width: none; /* Remover a largura máxima em dispositivos móveis */
    }

    .search, .task, ul li {
        width: 300px;
        max-width: none;
        margin-top: 1rem;
    }

    .todoTitle {
        flex-direction: column; /* Coloca os elementos em uma coluna em telas menores */
        align-items: flex-start; /* Alinha os itens à esquerda em telas menores */
        width: 200px;
        margin-left: 10rem;
    }
    .h3 {
        margin-right: 0.5rem; 
    }

    .todoTitle img.listImage {
        margin-left: 8rem; /* Adiciona margem à esquerda para separar a imagem do texto */
        margin-top: -3rem;
        padding:0;
    }
}






